html 

head 
title fotaza2 

link(
    rel='stylesheet',
    href='/css/style.css'
)

body 
h1 fotaza2 

if usuario 
  h2 Bienvenido  #{usuario.nommbre}
  a(href='/auth/logout')
else
  a(href='/auth/login') Login
  br
  a(href='/auth/register') Registro